language: node_js
node_js:
- "10"
branches:
  only:
  - master
install:
- npm install
before_script:
- git config --global user.name 'VuePressBot'
- git config --global user.email 'vuepressbot@cookapps.com'
- sed 's/__GITHUB_TOKEN__/${__GITHUB_TOKEN__}/' depoly.sh
script:
- bash depoly.sh
notifications:
  email:
    on_success: never
    on_failure: always
